/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable indentation */
/* stylelint-disable CssSyntaxError */
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-container {
	margin: auto;
	width: 1200px;
}

.page-header {
	color: #000000;
	background-color: #ffffff;
}

.navigation {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.navigation-list {
	width: 340px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navigation-user {
	width: 270px;
	margin-left: auto;
}

.navigation-user .navigation-link {
	min-width: 20px;
	min-height: 20px;
}

.navigation-link {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #000000;
	text-decoration: none;
	text-transform: none;
	display: block;
	padding: 20px 16px;
	flex-wrap: wrap;
}

.button-search-hotel-header {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 8px 34px;
	margin: auto;
}

.main-container {
	flex-grow: 1;
}

.welcome-to-sedona {
	background-color: #3b6689;
	color: #ffffff;
	background-image: url("/images/index-main-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 1200px;
	height: 485px;
}

.welcome-to-sedona-img {
	display: block;
	margin: 0 auto;
	padding-top: 51px;
}

.sedona-discripton-section {
	display: flex;
	flex-direction: column;
	padding-top: 69px;
	padding-right: 275px;
	padding-bottom: 90px;
	padding-left: 275px;
}

.sedona-description {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.sedona-description-advantages {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
}

.feautures-list {
	margin: 0;
	padding: 0;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	flex-direction: row;
	width: 1200px;
}

.advantages-item {
	width: 400px;
	height: 385px;
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}

.main-h3-and-p {
	display: block;
	margin: 92px 85px 111px 85px;
}

.item-h3-and-p {
	display: block;
	margin: 103px 85px 121px 85px;
}

.icon-h3-and-p {
	display: block;
	margin: 182px 85px 111px 81px;
}

.main-advantages-item {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	text-align: center;
}

.main-advantages-item-2 {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
}


.light-item {
	background-color: #eff6fb;
	color: #000000;
}

.dark-item {
	background-color: #e4f0f7;
	color: #000000;
}

.white-item {
	background-color: #ffffff;
	color: #000000;
}

.advantages-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	display: block;
	margin-bottom: 62px;
}

.advantages-title-main {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: auto;
	margin-bottom: 62px;
}

.icon-adventages-title {
	display: block;
	margin-bottom: 30px;
}

.advantages-description {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	display: block;
	margin: auto;
}

.find-hotel {
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 304px;
	padding-bottom: 96px;
	padding-left: 304px;
	text-align: center;
}

.button-search-hotel {
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: auto;
	padding: 8px 50px;
}

.question-about-city {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 20px;
}

.question-about-city-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 54px;
}

.newsletter-subscription-index {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("/images/background-for-newsteller-subscription.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 258px;
	padding-bottom: 104px;
	padding-left: 258px;
}

.subscription-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
}

.subscription {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 20px;
}

.subscribe {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
}

.page-footer-container {
	display: flex;
	width: 1060px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 30px;
}

.footer-social {
	width: 142px;
	margin-right: auto;
}

.footer-social-list {
	display: flex;
	list-style-type: none;
}

.footer-phone {
	width: 331px;
}

.footer-contact-phone {
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-decoration: none;
}

.footer-link {
	margin-left: 236px;
	width: 115px;
}

.search-hotel-filters {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("/images/catalog-main-backgroud.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.inner-header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	display: block;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	margin-right: 28px;
}

.catalog-filter {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.catalog-filter-group {
	margin: 0;
}

.infrastructure-block {
	margin-right: 70px;
}

.catalog-filter-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

.catalog-filter-list {
	list-style-type: none;
}

.filter-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
}

.second-filter-botton {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.hotel-sort {
	display: flex;
	justify-content: space-between;
	width: 1060px;
}

.header-find-hotels {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	margin: 56px 201px 46px 70px;
}

.select-control {
	padding: 0;
	width: 292px;
	height: 50px;
	margin: 50px 70px 40px auto;
}

.sort-selection {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: left;
	text-transform: none;
	color: #333333;
	background-color: #ffffff;
	padding: 14px 131px 14px 20px;
}

.sort-button {
	width: 48px;
	height: 48px;
	margin-right: 8px;
	margin-top: 50px;
}

.hotels-list {
	list-style-type: none;
}

.hotel-card a {
	text-decoration: none;
}

.hotel-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.hotel-card-type {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #333333;
	background-color: #ffffff;
}

.hotel-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: right;
	color: #333333;
	background-color: #ffffff;
}

.hotel-card-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
}

.hotel-card-button-off {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #82b3d3;
}

.hotel-card-button-on {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #7db54f;
}

.hotel-raiting {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	background-color: #f2f2f2;
}

.pagination {
	list-style-type: none;
	display: flex;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination a {
	text-decoration: none;
}

.pagination-link[aria-current="page"] {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
}

.pagination-link {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 11px 24px;
}

.pagination-link-ellipsis:not([href]) {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 17px 21px;
}

.newsletter-subscription-catalog {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 258px;
	padding-bottom: 104px;
	padding-left: 258px;
}
