/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable indentation */
/* stylelint-disable CssSyntaxError */
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.page-container {
	margin: auto;
	width: 1200px;
}

.page-header {
	color: #000000;
	background-color: #ffffff;
}

.navigation {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.navigation-list {
	width: 340px;
	margin: 0;
	padding: 0;
}

.navigation-user {
	width: 270px;
	margin-left: auto;
}

.navigation-link {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #000000;
	text-decoration: none;
	text-transform: none;
}

.button-search-hotel {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
}

.main-container {
	flex-grow: 1;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.page-container {
	width: 1200px;
	margin: 0 auto;
}

.welcome-to-sedona {
	background-color: #3b6689;
	color: #ffffff;
	background-image: url("/images/index-main-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 1200px;
	height: 485px;
}

.sedona-discripton-section {
	display: flex;
	flex-direction: column;
	padding-top: 69px;
	padding-right: 275px;
	padding-bottom: 90px;
	padding-left: 275px;
}

.sedona-description {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
}

.sedona-description-advantages {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
}

.feautures-list {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	flex-direction: row;
	width: 1200px;
}

.advantages-item {
	width: 400px;
	height: 385px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.main-advantages-item {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	align-items: center;
}

.main-advantages-item-2 {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}


.light-item {
	background-color: #eff6fb;
	color: #000000;
}

.dark-item {
	background-color: #e4f0f7;
	color: #000000;
}

.white-item {
	background-color: #ffffff;
	color: #000000;
}

.advantages-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.advantages-title-main {
	text-transform: uppercase;
}

.advantages-description {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
}

.find-hotel {
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 304px;
	padding-bottom: 96px;
	padding-left: 304px;
	text-align: center;
}

.question-about-city {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.question-about-city-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
}

.newsletter-subscription-index {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("/images/background-for-newsteller-subscription.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 258px;
	padding-bottom: 104px;
	padding-left: 258px;
}

.subscription-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
}

.subscribe {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
}

.page-footer-container {
	display: flex;
	width: 1060px;
	margin: 0 auto;
	justify-content: space-between;
}

.footer-social {
	width: 142px;
	margin-right: auto;
}

.footer-phone {
	width: 331px;
}

.footer-link {
	margin-left: 236px;
	width: 115px;
}

.search-hotel-filters {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("/images/catalog-main-backgroud.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.inner-header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
}


.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

.catalog-filter-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

.filter-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
}

.header-find-hotels {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
}

.sort-selection {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: left;
	text-transform: none;
	color: #333333;
	background-color: #ffffff;
}

.hotel-card a {
	text-decoration: none;
}

.hotel-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.hotel-card-type {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #333333;
	background-color: #ffffff;
}

.hotel-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: right;
	color: #333333;
	background-color: #ffffff;
}

.hotel-card-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
}

.hotel-card-button-off {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #82b3d3;
}

.hotel-card-button-on {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #7db54f;
}

.hotel-raiting {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	background-color: #f2f2f2;
}


.pagination a {
	text-decoration: none;
}

.pagination-link[aria-current="page"] {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
}

.pagination-link {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
}

.pagination-link-ellipsis:not([href]) {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
}

.newsletter-subscription-catalog {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
}
