img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-container {
	margin: auto;
	width: 1200px;
	box-shadow: 0 0 15px 0 #00000033;
}

.page-header {
	color: #000000;
	background-color: #ffffff;
	z-index: 1;
}

.navigation {
	display: flex;
	width: 1060px;
	margin: 0 auto;
	align-items: start;
}

.navigation-list {
	width: 340px;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.navigation-logo {
	margin-bottom: -10px;
}

.navigation-user {
	width: 270px;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.navigation-user .navigation-link {
	min-width: 20px;
	min-height: 20px;
	padding: 22px 12px;
}

.navigation-link {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #000000;
	text-decoration: none;
	text-transform: none;
	display: block;
	padding: 20px 16px;
	flex-wrap: wrap;
	position: relative;
}

.navigation-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation-link[aria-current="page"]::after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	background-color: #756257;
	bottom: -1px;
	left: 16px;
	right: 16px;
}

.icon-loupe::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../icons/stack.svg#search") no-repeat center;
	background-color: currentcolor;
}

.icon-loupe:hover::before {
	color: rgba(0, 0, 0, 0.6);
}

.icon-loupe:active::before {
	color: rgba(0, 0, 0, 0.3);
}

.icon-loupe:disabled::before {
	color: rgba(0, 0, 0, 0.1);
}


.icon-favourite::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../icons/stack.svg#favourites") no-repeat center;
	background-color: currentcolor;
}

.icon-favourite:hover::before {
	color: rgba(0, 0, 0, 0.6);
}

.icon-favourite:active::before {
	color: rgba(0, 0, 0, 0.3);
}

.icon-favourite:disabled::before {
	color: rgba(0, 0, 0, 0.1);
}

.favourites-quantity {
	position: absolute;
	display: block;
	border-radius: 10px;
	background-color: #7db54f;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	padding: 5px;
	top: 12px;
	right: 4px;
}

.button-search-hotel-header {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 8px 34px;
	margin-block: 14px;
	margin-left: 20px;
	border-radius: 4px;
	cursor: pointer;
}

.button-search-hotel-header:hover {
	background-color: #615048;
}

.button-search-hotel-header:focus {
	background-color: #615048;
}

.button-search-hotel-header:active {
	color: #9e9089;
}

.button-search-hotel-header:disabled {
	background-color: #e5e5e5;
}


.main-container {
	flex-grow: 1;
}

.welcome-to-sedona {
	box-sizing: border-box;
	display: block;
	padding: 31px 70px 62px;
	color: #ffffff;
	text-shadow: 0 0 20px #000000;
	background: url("../images/inner-white-background.png") no-repeat bottom / 100% auto, url("../images/index-main-background.jpg") no-repeat center / cover;
	background-color: #3b6689;
}

.welcome-to-sedona-img {
	display: block;
	margin: 21px auto;
}

.sedona-discripton-section {
	display: flex;
	flex-direction: column;
	padding-top: 69px;
	padding-right: 260px;
	padding-bottom: 90px;
	padding-left: 260px;
}

.sedona-description {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
	position: relative;
}

.sedona-description-advantages {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
}

.feautures-list {
	margin: 0;
	padding: 0;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	flex-direction: row;
	width: 1200px;
}

.advantages-item {
	width: 400px;
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}

.main-h3-and-p {
	display: block;
	padding: 92px 74px 111px 74px;
}

.item-h3-and-p {
	display: block;
	padding: 74px 84px 122px;
}

.icon-h3-and-p {
	display: block;
	padding: 50px 85px 50px 81px;
}

.main-advantages-item {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	text-align: center;
}

.main-advantages-item-2 {
	background-color: #82b3d3;
	width: 1200px;
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
}


.light-item {
	background-color: #eff6fb;
	color: #000000;
}

.dark-item {
	background-color: #e4f0f7;
	color: #000000;
}

.white-item {
	background-color: #ffffff;
	color: #000000;
}

.advantages-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	display: block;
}

.advantages-title-light::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background-color: #a8acaf;
	margin-block: 30px;
	margin-inline: auto;
}

.advantages-title-main {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: auto;
}

.advantages-title-main::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background-color: #ffffff;
	margin-block: 30px;
	margin-inline: auto;
}

.icon-advantages-title-1::before {
	content: "";
	display: block;
	width: 78px;
	height: 78px;
	background: url("../icons/stack.svg#features_house") no-repeat center;
	margin-bottom: 31px;
	padding-left: 155px;
}

.icon-advantages-title-2::before {
	content: "";
	display: block;
	width: 78px;
	height: 78px;
	background: url("../icons/stack.svg#features_food") no-repeat center;
	margin-bottom: 31px;
	padding-left: 155px;
}

.icon-advantages-title-3::before {
	content: "";
	display: block;
	width: 78px;
	height: 78px;
	background: url("../icons/stack.svg#features_souvenirs") no-repeat center;
	margin-bottom: 31px;
	padding-left: 155px;
}

.advantages-description {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	display: block;
	margin: auto;
}

.find-hotel {
	display: flex;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 304px;
	padding-bottom: 96px;
	padding-left: 304px;
	text-align: center;
}

.button {
	display: flex;
	align-content: center;
	justify-content: center;
}

.button-search-hotel {
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: auto;
	padding: 8px 35px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-search-hotel:hover {
	background-color: #615048;
}

.button-search-hotel:focus {
	background-color: #615048;
}

.button-search-hotel:active {
	color: #9e9089;
}

.button-search-hotel:disabled {
	background-color: #e5e5e5;
	cursor: not-allowed;
}

.question-about-city {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 20px;
}

.question-about-city-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 54px;
}

.newsletter-subscription-index {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("../images/background-for-newsteller-subscription.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 96px;
	padding-right: 258px;
	padding-bottom: 104px;
	padding-left: 258px;
}

.subscribe-to-newsletter {
	display: flex;
}

.email-field {
	margin: 0;
	padding-block: 16px;
	padding-left: 20px;
	width: 405px;
	font: inherit;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #616161;
	border: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #f2f2f2;
}

.email-field:hover {
	background-color: #e6e6e6;
}

.email-field:active {
	box-shadow: 0 0 0 2px #000000;
}

.email-field:focus {
	box-shadow: 0 0 0 3px #83b3d3;
}

.email-field:disabled {
	background-color: #f2f2f2;
	cursor: not-allowed;
}

.subscription-description {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	margin-bottom: 54px;
	margin-top: 20px;
}

.subscription {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0;
}

.subscribe {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
	border: none;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 8px 50px;
}

.subscribe:hover {
	background-color: #68a2ca;
}

.subscribe:focus {
	background-color: #68a2ca;
}

.subscribe:active {
	color: #a7cae0;
}

.subscribe:disabled {
	background-color: rgba(229, 229, 229, 1);
	color: #ffffff;
	cursor: not-allowed;
}

.page-footer-container {
	display: flex;
	width: 1060px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 30px;
}

.footer-social {
	margin-right: 41px;
}

.footer-social-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 142px;
}

.social-icon {
	display: grid;
	place-items: center;
	padding: 8px;
	color: #83b3d3;
}

.social-icon:hover {
	color: #68a2ca;
}

.social-icon:active {
	color: #68a2ca4d;
}

.social-icon::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	mask: var(--icon) no-repeat center / 24px;
	background-color: currentcolor;
}

.social-icon-vk {
	--icon: url("../icons/stack.svg#social-networks_vk");
}

.social-icon-telegram {
	--icon: url("../icons/stack.svg#social-networks_telegram");
}

.social-icon-youtube {
	--icon: url("../icons/stack.svg#social-networks_youtube");
}

.footer-phone {
	display: block;
	padding: 5px 194px;
}

.footer-contact-phone {
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-decoration: none;
}

.footer-contact-phone:hover {
	color: #756157;
}

.footer-contact-phone:focus {
	color: #756157;
}

.footer-contact-phone:active {
	color: #7561574d;
}

.footer-link {
	margin-left: 41px;
}

.logo-html-academy:hover {
	fill: #756157;
}

.logo-html-academy:focus {
	fill: #756157;
}

.logo-html-academy:active {
	fill: rgba(117, 97, 87, 0.3);
}

.search-hotel-filters {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	background-color: #3b6689;
	background-image: url("../images/catalog-main-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-inline: 70px;
}

.inner-header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	display: block;
	margin: 0;
	margin-bottom: 8px;
	padding-top: 35px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	align-items: center;
}

.breadcrumbs-item {
	margin: 0;
	display: flex;
	align-items: center;
	position: relative;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "";
	display: block;
	width: 8px;
	height: 20px;
	background: url("../icons/stack.svg#arrow") no-repeat center;
	left: 23px;
	margin-inline: 10px;
}

.breadcrumbs-link:hover {
	color: #ffffff4d;
}

.breadcrumbs-link:focus {
	color: #ffffff;
}

.breadcrumbs-link:active {
	color: #ffffff4d;
}

.breadcrumbs-home {
	color: #ffffff;
}

.breadcrumbs-home::before {
	content: "";
	display: block;
	width: 13px;
	height: 15px;
	mask: url("../icons/stack.svg#home-breadcrumbs") no-repeat center;
	background: currentcolor;
}

.catalog-filter {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 40px;
	justify-content: space-between;
}

.catalog-filter-list {
	display: flex;
	flex-direction: column;
	gap: 17px;
	list-style-type: none;
	padding: 0;
	margin-top: 31px;
}

.infrastructure-block {
	margin-right: 70px;
	padding: 0;
	margin-bottom: 73px;
}

.control-input {
	appearance: none;
	margin: 0;
}

.control-checkbox:hover {
	color: rgba(229, 229, 229, 0.6);
}

.control-checkbox:active {
	color: rgba(229, 229, 229, 0.3);
}

.control {
	display: flex;
	gap: 16px;
}


.catalog-filter-item {
	display: flex;
}

.control-input::before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}

.control-input:hover::before {
	background-color: rgba(229, 229, 229, 0.6);
}

.control-input:hover:active::before {
	background-color: rgba(229, 229, 229, 0.3);
}

.control-input:checked::before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 4px;
	background-image: url("../icons/stack.svg#checkbox");
	background-repeat: no-repeat;
	background-position: center;
}

.control-input:hover:checked::before {
	background-color: #d1dfea;
}

.control-input:active:checked::before {
	background-color: #d1dfea;
}

.control-input-radio {
	appearance: none;
	margin: 0;
}

.control-radio:hover {
	color: #d1dfea;
}

.control-radio:active {
	color: #d1dfea;
}

.control-input-radio::before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.control-input-radio:hover::before {
	background-color: rgba(229, 229, 229, 0.6);
}

.control-input-radio:active::before {
	background-color: rgba(229, 229, 229, 0.3);
}

.control-input-radio:checked::before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	background-image: url("../icons/stack.svg#radio-checked");
	background-repeat: no-repeat;
	background-position: center;
}

.control-input-radio:hover:checked::before {
	background-color: rgba(229, 229, 229, 0.6);
}

.control-input-radio:active:checked::before {
	background-color: rgba(229, 229, 229, 0.3);
}

.hotel-type-block {
	margin-right: 140px;
	margin-bottom: 73px;
	padding: 0;
}

.price-block {
	margin-right: 70px;
	margin-bottom: 70px;
	margin-left: 0;
}

.range-scale {
	position: relative;
	height: 4px;
	margin-top: 44px;
	background-color: #61696c;
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.range-toggle:focus {
	border: 3px solid #83b3d3;
	border-radius: 5px;
}

.range-toggle:active {
	border: 2px solid #83b3d3;
	border-radius: 2px;
}

.toggle-min {
	top: -8px;
	left: -10px;
}

.toggle-max {
	top: -8px;
	right: -10px;
}

.range-wrapper-inputs {
	display: flex;
	align-items: center;
	padding-top: 32px;
	width: 288px;
}

.catalog-filter-label-from {
	margin-left: -30px;
	margin-right: 16px;
	color: #a9a9a9;
}

.catalog-filter-label-to {
	margin-left: -30px;
	color: #a9a9a9;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.range-input-from::-webkit-outer-spin-button,
.range-input-from::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.range-input-from {
	box-sizing: border-box;
	background-color: #f2f2f2;
	padding-block: 12px;
	padding-left: 20px;
	padding-right: 40px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: none;
	font: inherit;
	width: 143px;
	appearance: textfield;
}

.range-input-from:hover {
	background-color: #e6e6e6;
}

.range-input-from:active {
	box-shadow: 0 0 0 2px #000000;
	background-color: #ffffff;
}

.range-input-to::-webkit-outer-spin-button,
.range-input-to::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.range-input-to {
	box-sizing: border-box;
	background-color: #f2f2f2;
	padding-block: 12px;
	padding-left: 20px;
	padding-right: 40px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	font: inherit;
	width: 143px;
	appearance: textfield;
}

.range-input-to:hover {
	background-color: #e6e6e6;
}

.range-input-to:active {
	box-shadow: 0 0 0 2px #000000;
	background-color: #ffffff;
}

.catalog-filter-group {
	margin-bottom: 50px;
	padding: 0;
	border: none;
}

.catalog-filter-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

.form-buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 56px;
}

.filter-button-apply {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #82b3d3;
	padding: 8px 47px;
	margin-bottom: 40px;
	max-width: 191px;
	border: 0;
	cursor: pointer;
	border-radius: 4px;
	box-sizing: border-box;
}

.filter-button-apply:hover {
	background-color: #68a2ca;
}

.filter-button-apply:focus {
	background-color: #68a2ca;
}

.filter-button-apply:active {
	color: #a7cae0;
}

.filter-button-apply:disabled {
	color: #ffffff;
	background-color: #e5e5e5;
}

.filter-button-reset {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 8px 57px;
	max-width: 191px;
	box-sizing: border-box;
}

.filter-button-reset:hover {
	color: rgba(255, 255, 255, 0.6);
}

.filter-button-reset:active {
	color: #ffffff4d;
}

.filter-button-reset:disabled {
	color: rgba(255, 255, 255, 0.1);
}

.hotel-sort {
	display: flex;
	justify-content: space-between;
	padding: 50px 70px 40px 70px;
	gap: 69px;
}

.sort-button {
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	width: 48px;
	height: 48px;
}

.sort-button:hover {
	border: 2px solid #000000;
	border-radius: 4px;
}

.sort-button:focus {
	border: 2px solid #68a2ca;
	border-radius: 4px;
}

.sort-button:active {
	border: 2px solid #000000;
	border-radius: 4px;
}

.sort-button[aria-current="page"] {
	border: 2px solid #000000;
	border-radius: 4px;
}

.sort-table::before {
	content: "";
	display: block;
	width: 48px;
	height: 48px;
	background: url("../icons/stack.svg#view_table") no-repeat center / 16px 14px;
}

.sort-gallery::before {
	content: "";
	display: block;
	width: 48px;
	height: 48px;
	background: url("../icons/stack.svg#view_gallery") no-repeat center / 16px 14px;
}

.sort-list::before {
	content: "";
	display: block;
	width: 48px;
	height: 48px;
	background: url("../icons/stack.svg#view_list") no-repeat center / 16px 14px;
}

.header-find-hotels {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	padding-top: 6px;
	margin: 0;
	margin-right: auto;
}

.select-control {
	width: 292px;
	padding: 14px 20px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	font-weight: 400;
	color: #333333;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	background-image: url("../icons/stack.svg#down-arrow");
	background-repeat: no-repeat;
	background-position: right 16px center;
	background-size: 12px 9px;
	appearance: none;
}

.select-control:hover {
	border: 2px solid #68a2ca;
}

.select-control:focus {
	border: 2px solid #68a2ca;
}

.select-control:active {
	border: 2px solid #3f5e72;
}

.select-control:disabled {
	border: 2px solid #0000004d;
	color: #0000004d;
}


.view-type-buttons {
	display: flex;
	gap: 3px;
}

.sort-selection {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: left;
	text-transform: none;
	color: #333333;
	background-color: #ffffff;
}

.hotels-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 340px);
	gap: 20px;
	margin: 0;
	margin-bottom: 80px;
	padding-inline: 70px;
}

.hotel-card a {
	text-decoration: none;
}

.hotel-card {
	display: grid;
	grid-template-rows: 1fr;
	gap: 16px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	padding: 20px;
}

.hotel-card-link {
	display: grid;
	grid-template-rows: min-content 1fr;
	gap: 16px;
}

.hotel-card-image {
	object-fit: fill;
}

.hotel-card-discription {
	display: grid;
	grid-template-columns: 140px 140px;
	gap: 20px;
}

.hotel-card-buttons-and-raiting {
	display: grid;
	grid-template-columns: 140px 140px;
	gap: 16px 20px;
}

.hotel-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
	grid-row: 2;
}

.hotel-card-type {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: left;
	color: #333333;
	background-color: #ffffff;
	margin: 0;
}

.hotel-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: none;
	text-align: right;
	color: #333333;
	background-color: #ffffff;
	margin: 0;
}

.hotel-card-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	margin: 0;
	padding: 8px 20px;
	border-radius: 4px;
}

.hotel-card-button-off {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #82b3d3;
	padding: 8px 20px;
	border-radius: 4px;
}

.hotel-card-button-off:hover {
	background-color: #68a2ca;
}

.hotel-card-button-off:focus {
	background-color: #68a2ca;
}

.hotel-card-button-off:active {
	background-color: #82b3d3;
	color: rgba(229, 229, 229, 0.3);
}

.hotel-card-button-off:any-link:not([href]) {
	color: #ffffff;
	background-color: #e5e5e5;
}

.hotel-card-button-on {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #7db54f;
	padding: 8px 18px;
	border-radius: 4px;
}

.hotel-card-button-on:hover {
	background-color: #6c9e42;
}

.hotel-card-button-on:focus {
	background-color: #6c9e42;
}

.hotel-card-button-on:active {
	color: #ffffff4d;
}

.hotel-card-button-on:any-link:not([href]) {
	background-color: #e5e5e5;
	color: #ffffff;
}

.hotel-card-button-more:hover {
	background-color: #615048;
}

.hotel-card-button-more:focus {
	background-color: #615048;
}

.hotel-card-button-more:active {
	background-color: #756157;
	color: #9e9089;
}

.hotel-card-button-more:any-link:not([href]) {
	background-color: #e5e5e5;
}


.hotel-raiting {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	background-color: #f2f2f2;
	margin: 0;
	padding: 8px 22px;
	border-radius: 4px;
}

.hotel-stars {
	padding-top: 10px;
}

.hotel-stars::after {
	content: "";
	display: block;
	width: calc(24.4px * var(--star-count) - 6px);
	height: 17px;
	background: url("../icons/stack.svg#star") repeat-x left / 24px 17px;
}

.hotel-stars-1 {
	--star-count: 1;
}

.hotel-stars-2 {
	--star-count: 2;
}

.hotel-stars-3 {
	--star-count: 3;
}

.hotel-stars-4 {
	--star-count: 4;
}

.hotel-stars-5 {
	--star-count: 5;
}

.pagination {
	list-style-type: none;
	display: flex;
	padding-left: 70px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination a {
	text-decoration: none;
}

.pagination-link[aria-current="page"] {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #f2f2f2;
}

.pagination-link:hover {
	background-color: #68a2ca;
}

.pagination-link:focus {
	background-color: #68a2ca;
}

.pagination-link:active {
	color: #ffffff4d;
}

.pagination-link {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	display: block;
	box-sizing: border-box;
	min-width: 60px;
	height: 60px;
	padding: 12px 19px;
	border-radius: 4px;
}

.pagination-link-ellipsis:not([href]) {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 17px 21px;
}

.newsletter-subscription-catalog {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 134px;
	padding-right: 258px;
	padding-bottom: 104px;
	padding-left: 258px;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2cc;
	z-index: 10;
}

.modal-container-close {
	display: none;
}

.modal {
	position: relative;
	margin: auto;
	padding: 40px;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 0 25px 50px 0 #00000026;
}

.modal-search {
	box-sizing: border-box;
	width: 717px;
	padding: 64px 70px;
}

.modal-close-button {
	position: absolute;
	padding: 0;
	top: 64px;
	right: 52px;
	width: 52px;
	height: 52px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.modal-close-button::before {
	display: block;
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	top: 19px;
	right: 19px;
	mask: url("../icons/stack.svg#close-modal") no-repeat center;
	background: currentcolor;
}

.modal-close-button:hover {
	background-color: #e6e6e6;
}

.modal-close-button:active {
	background-color: #e6e6e6;
	color: #a1a1a1;
}

.modal-title {
	margin: 0;
	margin-bottom: 64px;
	font-family: inherit;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-form {
	display: grid;
	gap: 2px;
}

.search-form-field {
	display: grid;
	grid-template-columns: 133px 1fr;
	align-content: center;
	align-items: center;
	margin: 0;
	gap: 4px;
}

.search-form-field::after {
	content: "";
	display: block;
	height: 42px;
	grid-area: 2 / 1 / 3 / 2;
}

.search-form-message {
	grid-area: 2 / 2 / 3 / 3;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	padding-inline: 20px;
	color: #333333;
	background-color: #ffffff;
}

.search-form-input-error ~ .search-form-message-error {
	display: block;
	color: #ff5757;
}

.search-form-input-success ~ .search-form-message-success {
	display: block;
}

.search-form-label {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	padding-block: 12px;
}

.field-date {
	background: url("../icons/stack.svg#calendare") no-repeat center right 20px / 20px 20px;
}

.search-form-input {
	box-sizing: border-box;
	margin: 0;
	padding: 12px 60px 12px 20px;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	background-color: #f2f2f2;
}

.search-form-input:hover {
	background-color: #e6e6e6;
}

.search-form-input:active {
	box-shadow: inset 0 0 0 2px #333333;
}

.search-form-input::placeholder {
	font: inherit;
	color: #000000;
	opacity: 0.6;
}

.quantity-container {
	display: flex;
	justify-content: space-between;
}

.search-form-field-with-tooltip {
	grid-template-columns: max-content 1fr;
	grid-template-rows: 48px auto;
}

.search-form-input-quantity {
	grid-area: input;
	border: none;
	border-radius: 0;
	background-color: #f2f2f2;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	padding: 14px 10px;
	text-align: center;
}

.search-form-input-quantity:focus-visible {
	z-index: 1;
}

.quantity-wrapper {
	display: grid;
	grid-template-columns: auto 40px 31px 40px;
	grid-template-areas: "tooltip minus input plus";
	grid-template-rows: 48px;
}

.quantity-button {
	display: grid;
	place-items: center;
	padding: 0;
	width: 40px;
	height: 48px;
	border: none;
	background-color: #f2f2f2;
	color: #cccccc;
}

.quantity-button:focus-visible {
	z-index: 1;
}

.quantity-button:hover {
	color: #000000;
}

.quantity-button:active {
	color: #cccccc;
}

.quantity-button::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	mask: var(--icon) no-repeat center / contain;
	background-color: currentcolor;
}

.quantity-button-minus {
	--icon: url("../icons/stack.svg#minus");
	grid-area: minus;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.quantity-button-plus {
	--icon: url("../icons/stack.svg#plus");
	grid-area: plus;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tooltip {
	position: relative;
	grid-area: tooltip;
	margin-inline: 6px 46px;
	align-self: center;
	cursor: help;
}

.tooltip::after {
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #83b3d3 url("../icons/stack.svg#info") no-repeat center / 20px;
}

.tooltip-text {
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	top: calc(100% + 15px);
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 18px 23px 22px;
	width: 256px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	background-color: #333333;
	box-shadow: 0 15px 30px #0000004d;

	visibility: hidden;
	opacity: 0.01;
	transition: visibility 0.3s, opacity 0.3s;
}

.tooltip-text::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 39px;
	height: 15px;
	background: url("../icons/stack.svg#triangle") no-repeat bottom / 19px 9px;
}

:is(.tooltip:hover, .field:focus-visible ~ .tooltip) .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.search-form-button {
	font: inherit;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #83b3d3;
	color: #ffffff;
	border: none;
	padding: 18px 36px;
	border-radius: 10px;
}

.search-form-button:hover {
	background-color: #68a2ca;
}

.search-form-button:focus {
	background-color: #68a2ca;
}

.search-form-button:active {
	background-color: #68a2ca;
	color: #95beda;
}

.search-form-button:disabled {
	background-color: #e5e5e5;
	color: #ffffff;
}
